<h1 class="ui blue header">Feedback Form</h1>

<form class="ui blue segment form" action="/about/addcomment" method="POST">
    <div class=" blue field">
      <input placeholder="Name" type="text" name="name">
  </div>
  <div class=" blue field">
    <label>Message</label>
    <textarea placeholder="Please enter your feedback" type="text" name="comment"></textarea>
  </div>
  <button class="ui blue submit button"> Add Comment</button>
</form>