



<form class="ui inverted grey stacked segment  form" action="/bookmarks/addbookmarkGroup" method="POST">
  
  
    <div class= "two fields">
  
  
  <div class="field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title" autofocus required>
  </div>
  

    <div class="  field">
    <label>Colour</label>
    <input placeholder="Colour" type="text" name="color" autofocus required>
  </div>
  
  </div>
    
   <button class="ui blue submit button">Add New Group</button>
  
</form>
  



