<form class="ui inverted grey stacked segment mini form " action="/bookmarkList/{{allbookmarks.id}}/addBookmark" method="POST">
  <div class="three fields">
    
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="title">
    </div>
    
   <div class="field">
      <label>Link</label>
      <input placeholder="Link" type="text" name="link" required>
    </div>
   
    
    
    <div class="field">
      <label>Summary</label>
      <input placeholder="Summary" type="text" name="summary" required>
    </div>
    
    
    
  </div>
  

    <button class="ui blue submit button">Add Bookmark</button>
  
</form>









