



<form class="ui inverted grey stacked segment  form" action="/photos/uploadpicture" method="post" enctype="multipart/form-data">
  

  
  
    <div class= "two fields">
  
  
  <div class="field">
    <label>Picture</label>
    <input placeholder="Picture" type="file" name="picture" autofocus required>
  </div>
      
      
    <div class="field">
    <label>Title</label>
    <input placeholder="title" type="text" name="title" autofocus required>
  </div>
  
 
    
  </div>
    
   <button class="ui blue submit button">Add Picture</button>
  <button class="ui  submit button">
   <a href="/photos/deleteallpictures "  class="delalbum"  data-tooltip="WARNING this will delete your album"> Delete All</button></a>
</form>
  
</div>


