
  <section class="sixteen wide column" style="padding-bottom:40px;">
  
     <h1 class="ui padded blue header">
    Hi {{username}}, here is your {{title}} <i class="bookmark icon"></i>
    </h1>
  </section>
    
    
    
      
               
                  
