
<div class="ui card">
  <div class="ui  image">
    <img src="{{img}}">
  </div>
  <div class="content">
    <p class="center aligned header">{{title}}</p>
    
  </div>
  
  <div class="ui segment">
      <a href="/photos/deletepicture?img={{img}}" data-tooltip="WARNING this will delete your image">
        <i class="red icon trash deletePic"></i>
      </a>
    </div>
</div>


  