<nav class="ui stackable menu" style="background-color:#D3D3D3;">
  <header class=" ui header item"> <a href="/"> Welcome</a></header>
  
  <div class="socialicons">
   
    
  </div>
  
  <h2 style="align:center;">
   
  </h2>
  
  <div class="right menu">
    <span class="name">{{username}}</span>
    
    <a id="photos" class="item" href="/photos"> Photos  </a>
   
    <a id="bookmarks" class="item" href="/bookmarks"> Bookmarks  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
     <a class=" item" href="http://www.facebook.com" target="_blank"> <i class="large blue facebook icon"></i> </a>
    <a class="item" href="http://twitter.com" target="_blank"> <i class="large blue twitter icon"></i> </a>

    
  </div>
</nav>
 




<script>
  $("#{{id}}").addClass("active item");
</script>


