{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  
 <section class="sixteen wide column" style="padding-bottom:40px;">
  
    <h1 class="ui padded blue header"><i class="map icon"></i>
    All about The Bookmarks App
  </h1>
  </section>
  
  <div class="ui grid">
     <div class="ten wide column">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.911661575159!2d-7.139816484508569!3d52.244988179762984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c41308836181%3A0xb051498b0ba1c2db!2sWIT+(Main+Entrance)!5e0!3m2!1sen!2sie!4v1519241770493" 
                 width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
       </iframe>
    </div>
     
     <div class="six wide column">
       <div class="abouttext">
          
         
          <p>David Morris<br>AwesomeApps<br> Silicon Valley<br> Cork Rd Waterford
         </p>
         <p>
           <i class="phone icon"></i>Tel: 087 9999999
         </p>
         <p>
           <i class="envelope icon"></i>Email:  <a href="mailto:davidmorris300@hotmail.com">David Morris</a>
         </p>
       </div>
    </div> 
</div>
  
  
 <div class="ui grid">
     <div class="ten wide column">
      {{> comments}}
   </div>
  </button>
 <div class="six wide column">
  
{{>aboutComment}}
  </div>
  </div>
</section>

