{{> menu id="listbookmarks"}}

<section class="ui center aligned middle aligned segment">
  
   
  {{> bookmarkList}}
  <section class="sixteen wide column" style="padding-bottom:40px;">
 {{> addBookmark}}
  </section>
</section>
 