{{> welcomemenu id='login' }}
<div class="ui grid">
     <div class="ten wide centered column">
     
<form class="ui blue segment form" action="/authenticate" method="POST">
  
  
    <img class="ui centered  tiny image"src=https://cdn.glitch.com/244d6bae-bffc-457b-b412-8bea6f245ed8%2Flogin.png?1525016568008>
   
  
  
  <h3 class="ui header">Log-in</h3>
  <div class=" field">
    <label>Email</label> <input placeholder="Email" name="email" autofocus required>
  </div>
  <div class="field">
    <label>Password</label> <input type="password"  name="password" required >
  </div>
  <button class="ui blue submit button">Login</button>
</form>
  </div>
</div>


