{{> menu}}

<section class="ui center aligned middle aligned segment">
  
<section class="sixteen wide column" style="padding-bottom:40px;">
  
   <h1 class="ui padded blue header"><i class="bookmark icon"></i>
   Welcome to the Bookmarks App
  </h1>
  </section>
  
  

<div class="ui grid">
     <div class="ten wide column">
     <img class="ui rounded massive bordered left floated image" src="https://cdn.glitch.com/403f1bbe-dc0e-4a6e-8667-e13b669a5a9e%2FBookmarks.jpg?1519837975350">
    </div>
     
     <div class="six wide column">

       <div class="hometext">
          <p>A small app to help you keep track of all things web development.
            Allowing you to keep track of all your favouite links via bookmarks.
         </p>
         <p>We really hope you enjoy using this app and be sure to give us a <a href="https://twitter.com" target="_blank"><i class="blue thumbs up icon"></i></a> on 
            FaceBook and Twitter.
         </p>
         <p class="signature">
           All the Best,<br>The AwesomeApps Team.
         </p>
       </div>
    </div> 
  
  
  
</div>
  
  
  
  




</section>


